@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin flex-row {
    display: flex;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
    
    a {
        color: inherit;
        text-decoration: none;
    }

    li {
        list-style: none;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #fff;
    background: #222;
    min-height: 100vh;
    overflow: hidden;
    @include flex-column();
    
        .main {
            @include flex-column();
            width: 100%;
        }
        .today {
            margin-top: 40px;
            margin-bottom: 40px;
            @include flex-column();
        }
}

// .bg {
//     transition: all 2s ease-in-out;
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     opacity: 0.6;
//     z-index: -1;
// }

.bg:before {
    content: "";
    position: fixed;
    // background-color: #222;
    background-image: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    transition: all 2s ease-in-out;
    // filter: blur(2px);
}

// .bg:after {
//     content: "";
//     position: fixed;
//     background-image: inherit;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: center/cover;
//     height: 100%;
//     transition: all 0.4s ease-in-out;
//     z-index: 10;
    
// }


header, main {
    z-index: 1;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    margin: auto;
    padding: 15px;

    .brand {
        font-size: 1rem;
        font-weight: 600;
    }

    ul {
        li {
            display: inline-block;
            padding-left: 10px;        

            img {
                height: 30px;
                width: 26.5px;
            }
        }    
    }
    
}

.today{
    text-shadow: 0px 0px 10px #222;
}
.time {
    font-size: 3.5em;
    margin-left: auto;
}

.welcome {
    font-size: 1.4em;
}

.weather {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    .weather-icon {
        height: 1em;
        margin-right: 15px;
    }
}

.search-bar {
    @include flex-row();
    background-color: #fff;
    border-radius: 25px;
    max-width: 600px;
    width: 80%;
    padding-left: 10px;
    padding-right: 10px;

    .search-icon {
        width: 14px;
        height: 14px;
        background-image: url(svg/search.svg);
        opacity: 0.6;
    }

    .search-input {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        border: none;
    }
    
    .search-input, .search-engine {
        border: none;
        height: 40px;
    }

    .search-engine {
        border-radius: 25px;
        opacity: 0.6;
    }
}